body {
    margin: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}