body {
    margin: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.logs {
    font-size: 24px;
}

.logs-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

input[type="text"] {
    padding: 6px;
    border-radius: 2px;
    border: none;
}

form {
    margin-top: 20px;
    text-align: center;
}

.pagination {
    margin-top: 20px;
    justify-content: center;

}