body {
    margin: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logs {
    font-size: 24px;
}

.logs-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
}