body {
    margin: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logs {
    font-size: 24px;
}

.logs-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.captcha {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.captcha a {
    margin: 0 5px;
}

.captcha input {
    margin-left: 5px;
    max-width: 100px;
}

.date {
    position: absolute;
    top: 20px;
    left: 20px;
}

.time-ticke {
    position: absolute;
    top: 20px;
    right: 20px;
}
hr {
    width: 50%;
    border: 2px solid aquamarine;
}